<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Disney Trip</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>My Disney Trip</h1>

    <nav>
        <a href="/hotels">Explore Hotels</a>
        <a href="/parks">Explore Parks</a>
    </nav>
    
    <div>
        <label>My Disney Hotel</label>
        <select type="dropdown" name="hotel name" placeholder="Select your Hotel">
            <option style="display:none"> -- select hotel --</option>
            <% for (let i = 0; i < hotels.length; i++) { %>
                <option value="<%= hotels[i].id %>"><%= hotels[i].name %></option>
                <% } %>
        </select>
    </div>

    <div>
        <label>My Disney Park</label>
        <select type="dropdown" name="park name" placeholder="Select your Park">
            <option style="display:none"> -- select park --</option>
            <% for (let i = 0; i < parks.length; i++) { %>
                <option value="<%= parks[i].id %>"><%= parks[i].name %></option>
                <% } %>
        </select>
    </div>

</body>
</html>