<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Disney Trip</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
    <h1>My Disney Trip</h1>

    <nav>
        <a href="/hotels">Explore Hotels</a>
        <a href="/parks">Explore Parks</a>
    </nav>
    
</body>
</html>