* {
    box-sizing: border-box;
    border: 2px black solid;

}


body {
    background-image: url("../../images/disneytsum.png");
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Button Styling*/
.btn {
    text-decoration: none;
    border-style: groove;
    border-width: 7px;
    border-color: #4a62d8;
    background-color: #fbbe4f;
    color: #4a62d8;
    padding: 3px;
}



/* hotel page styling*/
.hotels {
    background-color: #4a62d8;
    border-style: groove;
    border-color: #fbbe4f;
    border-width: 10px;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    color: #fbbe4f;
    font-size: 22px;
}

.hotel-header {
    text-align: center;
    font-size: 36px;
    color: #fbbe4f;
    background-color: #8f3985;
    margin: 10px 20px;
}



#hotel-btn {
    text-decoration: center;
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* Parks Page Styling */

.parks {
    background-color: #4a62d8;
    border-style: groove;
    border-color: #fbbe4f;
    border-width: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #fbbe4f;
    font-size: 22px;
}

.park-header {
    text-align: center;
    color: #fbbe4f;
    background-color: #8f3985;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#park-btn {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
}

/* Index Page */

.disneyHome {
    text-align: center;
    background-color: #8f3985;
    color: #fbbe4f;
    font-size: 36px;
    margin: 10px 20px;
}

a.home-btn {
    margin: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

img.castle {
    width: 100%;
}

/* Login Page */

.login-container {
    display: flex;
    justify-content: center;
}

/* Profile Page */

.profile-header {
    background-color: #8f3985;
    color: #fbbe4f;
    font-size: 30px;
    text-align: center;
}

a.profile-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 20px;
}

.profile-form {
    margin: 10px;
    background-color: #4a62d8;
    color: #fbbe4f;
    border: 10px groove #fbbe4f;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.myHotel {
    margin: 10px;
}

.myPark {
    margin: 10px;
}


/* Sign Up Page */

.signup-header {
    text-align: center;
    color: #fbbe4f;
    background-color: #8f3985;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 20px;

}

.signup-form {
    background-color: #4a62d8;
    color: #fbbe4f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 20px;
    padding: 10px;
    font-size: 24px;
}

.signup-field {
    margin: 10px 20px;
    text-align: center;
}

.signup-submit {
    background: #1ab28a;
    border: 2px solid #fbbe4f;
    color: #8f3985;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: bold;
}


.signup-submit:hover {
    border-color: #8f3985;
}