* {
    box-sizing: border-box;
    border: 2px black solid;

}

@font-face {
    font-family: disneyFont;
    src: url('NewWaltDisneyUi-8YdA.ttf');
}

body {
    background-image: url("../../images/disney-background.jpg");
    /* background-color: #76d0c0; */
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hotels {
    background-color: #4a62d8;
    border-style: groove;
    border-color: #fbbe4f;
    border-width: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: #fbbe4f;
    font-size: 22px;
}

.hotel-header {
    text-align: center;
    font-size: 36px;
    color: #fbbe4f;
    background-color: #8f3985;
}

.btn {
    text-decoration: none;
    border-style: groove;
    border-width: 7px;
    border-color: #4a62d8;
    background-color: #fbbe4f;
    color: #4a62d8;
    padding: 3px;
}

#hotel-btn {
    text-decoration: center;
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.parks {
    background-color: #4a62d8;
    border-style: groove;
    border-color: #fbbe4f;
    border-width: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: #fbbe4f;
    font-size: 22px;
}

.park-header {
    text-align: center;
    color: #4a62d8;
    font-size: 30px;
}

.disneyHome {
    text-align: center;
    color: #4a62d8;
    font-size: 36px;
    font-family: 'disneyFont';
}

.home-btn {
    margin: 20 px;
}

.home-container {
    flex-direction: column;
    
}

.login-container {
    display: flex;
    justify-content: center;
}

.profile-form {
    margin: 10px;
}