<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney Trip Homepage</title>
    <link rel="stylesheet" type='text/css' href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="disneyHome">Disney World Trip Planner</h1>
    <div class="home-container">
        <a class="btn home-btn" href="/users/signup">Sign Up</a>
        <a class="btn home-btn" href="/users/login">Log In</a>
        <img class="castle" src="images/mickeydisney.jpg" alt="Mickey and Minnie">
    </div>

</body>

</html>