<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" type='text/css' href="../../css/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="signup-header">Sign Up</h1>

    <form class="signup-form" action='/users' method="POST">
        Name: <input type="text" name="name" placeholder="Enter your Name" class="signup-field" />
        Username: <input type="text" name="username" placeholder="Enter a Username" class="signup-field" />
        Password: <input type="password" name="password" placeholder="Enter a Password" class="signup-field" />
        <input type="submit" value="Sign Up" class="signup-submit" />
    </form>
</body>
</html>